@page "/"

@using BlazorXamarin.Application.Contracts

@inject ITranslationService _translationService

<h1>@_translationService["Home_Header"]</h1>

@_translationService["Home_Welcome"]

<SurveyPrompt Title="@_translationService["Home_SurveyTitle"]" />
