@using BlazorXamarin.Application.Contracts

@inject ITranslationService _translationService

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        @_translationService["Survey_Start"]
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2086020">@_translationService["Survey_Anchor"]</a>
    </span>
    @_translationService["Survey_End"]
</div>

@functions {
    // Demonstrates how a parent component can supply parameters
    [Parameter] string Title { get; set; }
}
